@charset "utf-8";
@media screen and (max-width: 1280px) {
  .inner {
    padding: 0 20px;
  }

  .visual-box .inner {
    padding: 0 20px;
  }
}

@media screen and (max-width: 760px) {
  /* 헤더 */
  .header-top {
    display: none;
  }

  .header-mid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .header-mid-left {
    display: block;
  }

  .header-mid-right .search-icon {
    display: block;
    /* position: absolute; */
    right: -20px;
    top: 10%;
    /* width: 20px; */
    width: clamp(15px, 1.3889vw, 20px);
  }

  .header-mid-right .user-icon img {
    display: none;
  }

  /* nav */
  nav .gnb {
    margin-right: 0;
  }
  nav .search {
    display: none;
  }

  .nav-m {
    position: relative;
    /* display: block; */
    flex-direction: column;
    justify-content: left;
    padding: 10px 0;
  }

  .nav-m .inner {
    margin: 0;
  }
  .nav-m .gnb {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .nav-m .depth1 {
    flex-direction: column;
  }

  /* 비주얼 */
  .visual-bg-1 {
    background: url("../images/미압축/visual-img-horiz-1.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.1053vw;
  }
  .visual-bg-2 {
    background: url("../images/미압축/visual-img-horiz-2.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.1053vw;
  }
  .visual-bg-3 {
    background: url("../images/미압축/visual-img-horiz-3.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.1053vw;
  }
  .visual-bg-4 {
    background: url("../images/미압축/visual-img-horiz-4.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.1053vw;
  }
  .visual-bg-5 {
    background: url("../images/미압축/visual-img-horiz-5.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.1053vw;
  }

  /* test */
}

@media screen and (max-width: 600px) {
  .category {
    position: relative;
    width: 100%;
    /* margin: 50px 0 35px; */
    margin: 20px 0 5px;
  }

  .item li {
    width: calc(100% / 3 - 2.5%);
    display: flex;
    flex-direction: column;
  }
}
